PlayerHud
{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
  color: white;
  font-size: 50px;
  text-stroke: 8px black;
  flex-direction: column;
  justify-content: space-between;

  .round-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .current-round {
      gap: 8px;
    }

    .round-break {
      font-size: 28px;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      &.hide {
        display: none;
      }
    }
  }
  
  .ammo {
    gap: 8px;
    justify-content: flex-end;
  }
}