PlayerHud
{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
  color: white;
  font-size: 50px;
  text-stroke: 8px black;
  flex-direction: column;
  justify-content: space-between;

  .round-info {
    flex-direction: column;
    align-items: center;

    .round-break {
      &.hide {
        display: none;
      }
    }
  }
  
  .ammo {
    justify-content: flex-end;
  }
}