StatsMenu
{
	position: absolute;
	top: 26px;
	left: 26px;
	right: 26px;
	bottom: 26px;
	font-weight: bold;
  font-size: 50px;
  z-index: 100;
  flex:1;
  flex-direction: column;
  gap: 12px;
  transition: all .1s;
  background-color: #00000000;
  border-radius: 10px;
  color: white;

  .main {
    flex: 1;
    opacity: 0;
    transition: all .1s;
    flex-direction: column;
  }

  .divider {
    border-bottom: 2px solid gray;
    margin: 0 50px;
    height: 10px;
  }

  .prompt {
    align-self: flex-start;
    font-size: 40px;
    padding: 12px;
    border-radius: 4px;
    background-color: #000000c2;
    border: 5px solid transparent;

    &.highlight {
      animation-name: flashing;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      border-color: gold;
    }
  }

  &.visible {
    pointer-events: all;
    background-color: #000000f1;

    .main {
      opacity: 1;
    }

    .prompt {
      background-color: #00000000;
      cursor: pointer;

      &.highlight {
        border-color: transparent;
        animation: none;
      }
    }
  }

  .stats-menu {
    gap: 24px;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;

    .stats {
      flex-direction: column;
      gap: 12px;

      .stat {
        font-size: 28px;
        padding: 12px 8px;
        border-bottom: 1px solid grey;

        .title {
          flex: 1 1 500px;
        }
      }
    }
  }

  .upgrade-select {
    flex-direction: column;
    gap: 24px;
    flex: 1;
    align-items: center;
    justify-content: center;

    .upgrade-options {
      gap: 30px;
    }

    .upgrade {
      flex: 0 0 400px;
      cursor: pointer;
      font-size: 30px;
      justify-content: center;

      .card {
        flex: 1;
        padding: 12px;
        border-radius: 8px;
        border: 5px solid transparent;
        background-color: rgb(126, 126, 126);
        flex-direction: column;
        align-items: center;
        transition: all .1s;

        .icon {
          font-size: 80px;
        }      
        
        &:hover {
          background-color: rgb(0, 206, 103);
          border-color: white;
        }
      }
    }

    .empty {
      flex: 1;
      gap: 12px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    p {
      font-size: 26px;
    }
  }
}

@keyframes flashing {
  0% { 
    background-color: #000000c2;
  }
  50% { 
    background-color: #c79800;
  }
  100% { 
    background-color: #000000c2;
  }
}