<root>
  @if (NetworkPlayer?.UpgradeOptions.Count > 0)
  {
    <h1>Round @(NetworkPlayer.UpgradeRound) Upgrades</h1>
    <p>Choose an upgrade for this round</p>
    <div class="upgrade-options">
      @foreach (Upgrade upgrade in NetworkPlayer?.UpgradeOptions)
      {
        <div onclick=@(() => OnSelect(upgrade)) class="upgrade">
          <div class="card">
            <span class="icon">@upgrade.Icon</span>
            <span class="title">@upgrade.Title</span>
          </div>
        </div>
      }
    </div>
  }
  else
  {
    <div class="empty">
      <h1>No Upgrades</h1>
      <p>More upgrades available next round</p>
    </div>
  }
</root>

@code
{
  public NetworkPlayer NetworkPlayer { get; set; }

  void OnSelect(Upgrade upgrade)
  {
    NetworkPlayer.SelectUpgrade(upgrade);
  }
}