UpgradeSelect
{
  flex-direction: column;
  gap: 24px;
  flex: 1;
  align-items: center;
  justify-content: center;

  .upgrade-options {
    gap: 30px;
  }

  .upgrade {
    flex: 0 0 400px;
    cursor: pointer;
    font-size: 30px;
    justify-content: center;

    .card {
      flex: 1;
      padding: 12px;
      border-radius: 8px;
      border: 5px solid transparent;
      background-color: rgb(126, 126, 126);
      flex-direction: column;
      align-items: center;
      transition: all .1s;

      .icon {
        font-size: 80px;
      }      
      
      &:hover {
        background-color: rgb(0, 206, 103);
        border-color: white;
      }
    }
  }

  .empty {
    flex: 1;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 26px;
  }
}